<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>


<!-- <ion-content style="padding-left: 0px;padding-right: 0px;">
  <h6>Here are the list of notifications sent to your registered contact details</h6>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content> -->


<ion-content>
    <p padding-left padding-right>Below is the list of historical record of your government notifications.</p>
    <ion-list>
      <ion-item *ngFor="let item of items" style="border-bottom:solid lightgrey 1px;">
          <h2>{{item.title}}</h2>
          <p>{{item.note}}</p>
          <button ion-button clear item-end (click)="notificationView($event, item)">View</button>
        </ion-item>
      </ion-list>
</ion-content>